@model IEnumerable<Assignment3maimbriglio.Models.ActorMovie>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="jumbotron styled">
        <h1>Actors & Their Movies</h1>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="amTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
